<% layout('layout')%>

    <!--Enterprise Page Content-->
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h4>
                            <%= heading %>
                        </h4>
                        <ol class="breadcrumb breadcrumb-simple">
                            <li><small><a href="/">Home</a></small></li>
                            <li><small><a href="/enterprises">Enterprise Management</a></small></li>
                            <li class="active">
                                <small> <%= heading %></small>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!--.page-content-header-->


    <div class="container-fluid">
        <div class="box-typical box-typical-padding">
            <form id="form-user" name="form-user" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-5">
                                <fieldset class="form-group">
                                    <label class="form-label semibold" for="name">Name<span class="color-red">&nbsp;*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-home"></span>
                                        </div>
                                        <% if(data == null){ %>
                                            <input id="name" name="name" class="form-control" type="text" placeholder="Name" data-validation="[NOTEMPTY]">
                                            <% } else{ %>
                                                <input id="name" class="form-control" name="name" type="text" placeholder="Name" data-validation="[NOTEMPTY]" value='<%= data.name%>'>
                                                <% } %>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-2">
                                <fieldset class="form-group">
                                    <label class="form-label semibold" for="name">Abbr.<span class="color-red">&nbsp;*</span></label>
                                    <div class="input-group">
                                        <% if(data == null){ %>
                                            <input id="abbr" name="abbr" class="form-control" type="text" placeholder="Abbrivation" data-validation="[NOTEMPTY]">
                                            <% } else{ %>
                                                <input id="abbr" class="form-control" name="abbr" type="text" placeholder="Abbrivation" data-validation="[NOTEMPTY]" value='<%= data.abbr%>'>
                                                <% } %>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-5">
                                <fieldset class="form-group">
                                    <label class="form-label semibold" for="status">Status<span class="color-red">&nbsp;*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <% if(data == null){ %>
                                                <span class='glyphicon glyphicon-flag color-green'></span>
                                                <% } else{ %>
                                                    <% if(data.status ==1){ %>
                                                        <span class='glyphicon glyphicon-flag color-green'></span>
                                                        <% } else if(data.status ==2){ %>
                                                            <span class='glyphicon glyphicon-flag color-orange'></span>
                                                            <% } else if(data.status ==3){ %>
                                                                <span class='glyphicon glyphicon-flag color-red'></span>
                                                                <% } else { %>
                                                                    <span class='glyphicon glyphicon-flag'></span>
                                                                    <% } %>

                                                                        <% } %>
                                        </div>
                                        <% if(data == null){ %>
                                            <select id="status" name="status" class="form-control" placeholder="Status" disabled>
                                                    <option value="1" selected>Active</option>
                                                    <option value="2">Suspended</option>
                                                </select>
                                            <% } else{ %>
                                                <select id="status" name="status" class="form-control" placeholder="Status" <%=data.status==3 ? 'disabled' : ''%>>                             
                                                        <option value="1" <%= data.status ==1 ? 'selected' : ''%>>Active</option>                                                
                                                        <option value="2" <%= data.status ==2 ? 'selected' : ''%>>Suspended</option>
                                                        <!-- <option value="3" <%= data.status ==3 ? 'selected' : ''%>>Deleted</option>    -->
                                                    </select>
                                                <% } %>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!--.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group">
                                    <label class="form-label semibold" for="description">Description</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-align-justify"></span>
                                        </div>
                                        <% if(data == null){ %>
                                            <input id="description" class="form-control" name="description" type="text" placeholder="Description">
                                            <% } else{ %>
                                                <input id="description" value='<%=data.description%>' class="form-control" name="description" type="text" placeholder="Description...">
                                                <% } %>
                                    </div>
                                </fieldset>

                            </div>

                        </div>
                        <!--.row-->
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label class="form-label semibold" for="creationdate">Created On</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <% if(data == null){ %>
                                            <input type="text" class="form-control" id="creationdate" name="creationdate" placeholder="Creation Date" value='<%= new Date().toLocaleString()%>' readonly>
                                            <% } else{ %>
                                                <input type="text" class="form-control" id="creationdate" name="creationdate" placeholder="Creation Date" value='<%= new Date(data.created).toLocaleString()%>' readonly>
                                                <% } %>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label class="form-label semibold" for="modificationdate">Last Modified</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <% if(data == null){ %>
                                            <input type="text" class="form-control" id="modificationdate" name="creationdate" placeholder="Modification Date" value='<%= new Date().toLocaleString()%>' readonly>
                                            <% } else{ %>
                                                <input type="text" class="form-control" id="modificationdate" name="creationdate" placeholder="Modification Date" value='<%= new Date(data.modified).toLocaleString()%>' readonly>
                                                <% } %>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <div class="col-md-4">
                        <section class="box-typical profile-side-user">
                            <button type="button" class="avatar-preview avatar-preview-128">
                                                <img src="/img/file-img.png" alt=""/>
                                                <span class="update">
                                                    <i class="font-icon font-icon-picture-double"></i>
                                                    Update Photo
                                                </span>
                                                <input type="file"/>
                                            </button>
                            <button type="button" class="btn btn-rounded">Change Logo</button>
                        </section>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="creator">Created By</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <input type="text" class="form-control" id="creator" name="creator" placeholder="Created By" readonly>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="uuid">Universal Unique ID (UUID)</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-tag"></span>
                                </div>
                                <% if(data == null){ %>
                                    <input type="text" class="form-control" id="uuid" name="uuid" placeholder="Universal Unique ID (UUID)" value='' readonly>
                                    <% } else{ %>
                                        <input type="text" class="form-control" id="uuid" name="uuid" placeholder="Universal Unique ID (UUID)" value='<%= data.uuid%>' readonly>
                                        <% } %>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">&nbsp;</div>
                    <div class="col-md-6 text-right">
                        <div class="form-group">
                            <label class="form-label semibold" for="exampleInput">&nbsp;</label>
                            <% if(data == null){ %>
                                <button type="submit" formaction="/enterprise/add" class="swal-btn-add btn btn-rounded">Save Enterprise</button>
                                <% } else{ %>
                                    <button type="submit" formaction="/enterprise/delete" class="swal-btn-delete btn btn-rounded btn-danger">Delete Enterprise</button>
                                    <button type="submit" formaction="/enterprise/update" class="swal-btn-update btn btn-rounded">Update Enterprise</button>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- stylesheets for the page -->
    <link rel="stylesheet" href="/css/separate/pages/user.min.css">
    <link rel="stylesheet" href="/css/separate/pages/profile.min.css">
    <link rel="stylesheet" href="/css/separate/pages/profile-2.min.css">


    <!-- javascripts for the page -->
    <script src="/js/lib/jquery-tag-editor/jquery.caret.min.js"></script>
    <script src="/js/lib/jquery-tag-editor/jquery.tag-editor.min.js"></script>
    <script src="/js/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/js/lib/select2/select2.full.min.js"></script>
    <script src="/js/lib/html5-form-validation/jquery.validation.min.js"></script>
    <script>
        $(function() {
            /* ==========================================================================
             Validationform-user
             ========================================================================== */

            $('#form-user_v1').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group'
                    }
                }
            });

            $('#form-user_v2').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group',
                        errorListClass: 'form-error-text-block',
                        display: 'block',
                        insertion: 'prepend'
                    }
                }
            });

            $('#form-user_v1').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group',
                        errorListClass: 'form-tooltip-error'
                    }
                }
            });

            $('#form-signup_v2').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group',
                        errorListClass: 'form-tooltip-error'
                    }
                }
            });
        });
    </script>
    <script src="/js/lib/input-mask/jquery.mask.min.js"></script>
    <!-- scripts for the page -->
    <script>
        $(document).ready(function() {
            $('.swal-btn-delete').click(function(e) {
                e.preventDefault();
                swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this enterprise!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel please!",

                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            swal({
                                    title: "Deleted!",
                                    text: "The selected enterprise will now be deleted.",
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    closeOnConfirm: false
                                },
                                function(isConfirm) {
                                    if (isConfirm) {
                                        swal.close();
                                        document.getElementById("form-user").action = "/enterprise/delete";
                                        document.getElementById("form-user").submit();
                                    }
                                }
                            );
                        } else {
                            swal({
                                title: "Cancelled!",
                                text: "Action cancelled. No changes were made.",
                                type: "error",
                                confirmButtonClass: "btn-danger",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            });
                        }
                    }
                );

            });

            $('.swal-btn-update').click(function(e) {
                e.preventDefault();
                swal({
                        title: "Are you sure?",
                        text: "Do you really want to make these changes?",
                        type: "info",
                        showCancelButton: true,
                        cancelButtonClass: "btn-default",
                        confirmButtonText: "Yes, change it!",
                        confirmButtonClass: "btn-primary",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            swal({
                                    title: "Changed!",
                                    text: "The enterprise information will be updated now.",
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    closeOnConfirm: false
                                },
                                function(isConfirm) {
                                    if (isConfirm) {
                                        swal.close();
                                        document.getElementById("form-user").action = "/enterprise/update";
                                        document.getElementById("form-user").submit();
                                    }
                                });
                        } else {
                            swal({
                                title: "Cancelled!",
                                text: "Action cancelled. No changes were made.",
                                type: "error",
                                confirmButtonClass: "btn-danger"
                            });
                        }
                    });
            });

            $('.swal-btn-add').click(function(e) {
                e.preventDefault();
                swal({
                        title: "Are you sure?",
                        text: "Do you really want to add this enterprise?",
                        type: "info",
                        showCancelButton: true,
                        cancelButtonClass: "btn-default",
                        confirmButtonText: "Yes, add it!",
                        confirmButtonClass: "btn-primary",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            swal({
                                    title: "Added!",
                                    text: "The enterprise will now be added.",
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    closeOnConfirm: false
                                },
                                function(isConfirm) {
                                    if (isConfirm) {
                                        swal.close();
                                        document.getElementById("form-user").action = "/enterprise/add";
                                        document.getElementById("form-user").submit();
                                    }
                                });
                        } else {
                            swal({
                                title: "Cancelled!",
                                text: "Action cancelled. No changes were made.",
                                type: "error",
                                confirmButtonClass: "btn-danger"
                            });
                        }
                    });
            });

        });
    </script>